.gridContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1rem 5rem;
    margin-right: 10rem;
    margin-left: 5rem;
    padding-top: 6rem;
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
    font-size: medium;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#titleAboutUs {
    text-align: center;
    color: var(--verde);
    font-size: 5rem;
    margin-top: 0;
}

.imgAboutUs {
    width: 100%;
    border-radius: 2rem;
}