.gridContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1rem 4rem;
  margin: 0 10rem 5rem 6rem;
  padding-top: 4rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nanum-gothic-regular {
  font-family: var(--fuenteSecundaria);
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: 1.7rem;
  line-height: 1.6;
}

#titleAboutUs {
  text-align: center;
  color: var(--verde);
  font-size: 6rem;
  margin-top: 0;
}

.imgAboutUs {
  width: 90%;
  border-radius: 2rem;
  margin-left: 2rem;
}
