#services {
  background-color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 4rem;
}

.row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.row img {
  max-width: 100%;
  height: auto;
  width: 80%;
}

h3 {
  font-size: 3rem;
  color: var(--verde);
}

p {
  margin: 2rem 1rem 0rem 1rem;
}
