#services {
  background-color: white;
}

.main {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 4rem;
}

.row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.row img {
  max-width: 100%;
  height: auto;
  width: 80%;
}

h3 {
  font-size: 3rem;
  color: var(--verde);
}

p {
  margin: 2rem 1rem 0rem 1rem;
}

.btnnnn {
  text-decoration: none;
  border: none;
  color: white;
  background-color: var(--amarillo);
  padding: 1rem 5rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.botonnn {
  margin-bottom: 5rem;
}
