:root {
  --colorBase: #fff5ec;
  --amarillo: #f4d548;
  --verde: #269577;
  --fuentePrincipal: "Squada One";
  --fuenteSecundaria: "Nunito";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--colorBase);
}

p {
  font-size: 1.4rem;
  font-family: var(--fuenteSecundaria);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--fuentePrincipal);
}

a {
  font-size: 1.4rem;
  font-family: var(--fuenteSecundaria);
}

header {
  background: var(--amarillo);
  padding: 2rem 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 5rem;
  color: var(--verde);
  font-family: var(--fuentePrincipal);
  font-weight: bolder;
  text-decoration: none;
}

header .nav {
  display: flex;
}

header .nav a {
  font-size: 1.8rem;
  padding: 0 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header .nav a:hover {
  color: var(--colorBase);
}

.squada-one-regular {
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier > {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
