<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../css/aboutUs.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Nanum+Gothic&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Edu+SA+Beginner:wght@500&family=Nanum+Gothic&display=swap"
        rel="stylesheet">

    <title>Inicio Publico</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Club Ecuestre</a>

        <nav class="nav">
            <a href="inicioPublic.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="#">Cartelera</a>
        </nav>

    </header>

    <div class="gridContainer">
        <div>
            <img class="imgAboutUs" src="../../img/imgAboutUs.jpg">
        </div>

        <div>
            <h1>
                <p class="anton-regular" id="titleAboutUs">
                    NOSOTROS
                </p>

                <p class="nanum-gothic-regular">
                    En el Club Ecuestre [Nombre del Club], cultivamos la pasión por la equitación desde
                    [año de fundación]. Ubicados en [localización], ofrecemos instalaciones de primera
                    calidad y un ambiente seguro y acogedor para jinetes de todas las edades y niveles.
                    Nuestro equipo de instructores calificados se dedica a fomentar habilidades ecuestres
                    y un vínculo armonioso entre jinete y caballo. Ya sea que estés empezando o
                    perfeccionando tu técnica, en el Club Ecuestre [Nombre del Club] encontrarás un
                    lugar donde el aprendizaje y la excelencia ecuestre se unen.
                </p>
            </h1>
        </div>

    </div>



    </div>

</body>

</html>