<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/billboard.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />

    <title>Billboard</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Club Ecuestre</a>

        <nav class="nav">
            <a href="inicioPublic.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="billboard.html">Cartelera</a>
        </nav>

    </header>

    <div class="gridContainer">
        <div class="gridContainerSmall">
            <div class="gridFrac">
                <img class="imgHorses" src="../../img/ridingCourse.jpg">
            </div>

            <div>
                <p class="title">Curso Equitación</p>
                <p class="gridBody">Lunes 8am - 10 am</p>
                <p class="gridBody">Jueves 7am - 9 am</p>
            </div>
        </div>

        <div class="gridContainerSmall">
            <div class="gridFrac">
                <img class="imgHorses" src="../../img/ridingCourse.jpg">
            </div>

            <div>
                <p class="title">Curso Equitación</p>
                <p class="gridBody">Martes 8am - 10 am</p>
                <p class="gridBody">Viernes 7am - 9 am</p>

            </div>
        </div>

        <div class="gridContainerSmall">
            <div class="gridFrac">
                <img class="imgHorses" src="../../img/walks.jpg">
            </div>

            <div>
                <p class="title">Paseos</p>
                <p class="gridBody">Lunes 4pm - 6 pm</p>
                <p class="gridBody">Viernes 4pm - 6 pm</p>
            </div>
        </div>

        <div class="gridContainerSmall">
            <div class="gridFrac">
                <img class="imgHorses" src="../../img/ride.jpg">
            </div>
            
            <div>
                <p class="title">Cabalgatas</p>
                <p class="gridBody">Martes 10am - 12 pm</p>
                <p class="gridBody">Miercoles 7am - 9 am</p>
            </div>
        </div>

    </div>




</body>

</html>