<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/form.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-form">
      <h2>Adquirir Curso</h2>
      <form class="form">
        <label for="name"></label>
        <input type="text" placeholder="Tu nombre" id="name" />

        <label for="email"></label>
        <input type="email" placeholder="Tu E-mail" id="email" />

        <label for="ced"></label>
        <input type="text" placeholder="Tu Cédula" id="ced" />

        <label for="phone"></label>
        <input type="tel" placeholder="Tu teléfono" id="phone" />

        <button>Siguiente</button>
        <p>¿No quieres continuar?</p>
        <a href="../../Components/public/billboard.html">Regresa</a>
      </form>
    </div>
  </body>
</html>
