<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/publicStyle.css" />
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
    rel="stylesheet">
  <title>Inicio Publico</title>
</head>

<body>
  <header>
    <a href="#" class="logo">Club Ecuestre</a>

    <nav class="nav">
      <a href="inicioPublic.html">Inicio</a>
      <a href="aboutUs.html">Nosotros</a>
      <a href="servicesPublic.html">Servicios</a>
      <a href="billboard.html">Cartelera</a>
    </nav>

  </header>

  <main class="main">

    <div class="inicio">
      <div class="texto-inicio">
        <h1 id="text-bienvenido">Bienvenidos</h1>
        <p id="texto">a un lugar donde la tradición y la pasión por los caballos se encuentran</p>

        <a id="btn" href="aboutUs.html">Más sobre nosotros</a>

        <p id="texto2">Únete a nuestra comunidad y vive la emoción <br>
          de la equitación en un entorno seguro y profesional.
        </p>
        <p id="p-contacto">¡Mantengámonos en contacto!</p>
        <input type="email" placeholder="Tu E-mail" id="email" />
        
        <a href=""><img src="../../img/sendMessageIcon.png" id="sendMessageIcon"></a>
      </div>

      <div class="cont">
        <img class="img-inicio" src="../../img/imgInicio1.jpg" alt="Imagen inicio">
      </div>

    </div>

  </main>

  </div>

  <footer>
    <nav class="nav">
      <a href="inicioPublic.html">Inicio</a>
      <a href="aboutUs.html">Nosotros</a>
      <a href="servicesPublic.html">Servicios</a>
      <a href="billboard.html">Cartelera</a>
    </nav>

    <div class="credit">
      <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>

</html>