<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/servicesPublic.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
        rel="stylesheet" />

    <title>Billboard</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Club Ecuestre</a>

        <nav class="nav">
            <a href="inicioPublic.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="servicesPublic.html">Servicios</a>
            <a href="billboard.html">Cartelera</a>
        </nav>
    </header>

    <div class="gridContainer">
        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Hospedaje y Alimentación</b></p>

                    <p class="gridBody">Te invitamos a que conozcas los tipos de hospedajes que tenemos
                        para ti y tú caballo, así mismo preocuparse por la alimentación de ambos es algo
                        por lo que no te has de preocupar, para más información pulsa el botón de abajo.
                    </p>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Entrenamiento</b></p>
                    <p class="gridBody">Lunes 8am - 10 am</p>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Veterinario</b></p>
                    <p class="gridBody">Lunes 8am - 10 am</p>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Comprar ejemplares</b>></p>
                    <p class="gridBody">Lunes 8am - 10 am</p>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Paseos o cabalgatas</b></p>
                    <p class="gridBody">Lunes 8am - 10 am</p>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Convertirse en socio</b></p>
                    <p class="gridBody">Lunes 8am - 10 am</p>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <nav class="nav">
            <a href="inicioPublic.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="servicesPublic.html">Servicios</a>
            <a href="billboard.html">Cartelera</a>
        </nav>

        <div class="credit">
            <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>