<!DOCTYPE html>
<html lang="en">
  <head>
    <header>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="../css/styles.css" />
      <link rel="stylesheet" href="../css/loginStyle.css" />
      <link rel="stylesheet" href="../css/normalize.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap"
        rel="stylesheet"
      />
      <title>Club Ecuestre</title>
    </header>
  </head>
  <body>
    <div class="login">
      <h2 id="Textlogin">Login</h2>
      <p id="idRol">Elija su Rol</p>
      <select name="rol" class="rol" id="rolSelect">
        <option class="valueRol" value="admin">Administrador</option>
        <option class="valueRol" value="socio">Socio</option>
        <option class="valueRol" value="public">Público</option>
      </select>
      <a href="#" class="button" id="accederBtn">Acceder</a>
    </div>

    <script src="../js/scriptLogin.js"></script>
  </body>
</html>
