<!DOCTYPE html>
<html class="aa" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/buyHorse.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <title>Comprar ejemplares</title>
  </head>
  <body>
    <header>
      <a href="../login.html" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <div class="container-main">
      <div class="container-buy">
        <div class="img">
          <img src="../../img/horse1.png" alt="" />
        </div>
        <div class="text1">
          <h3>Fulgencio</h3>
          <ol>
            <li>Raza: Árabe</li>
            <li>Edad: 4 años</li>
            <li>Sexo: Macho</li>
            <li>Color: Café</li>
            <li>Altura: 1.65</li>
          </ol>
        </div>
        <div class="text2">
          <h2>$5000</h2>
          <button id="btn">¡Lo quiero!</button>
        </div>
      </div>

      <div class="container-buy">
        <div class="img">
          <img src="../../img/horse2.png" alt="" />
        </div>
        <div class="text1">
          <h3>Raven</h3>
          <ol>
            <li>Raza: Pura Sangre</li>
            <li>Edad: 3 años</li>
            <li>Sexo: Hembra</li>
            <li>Color: Negro</li>
            <li>Altura: 1.68</li>
          </ol>
        </div>
        <div class="text2">
          <h2>$7000</h2>
          <button id="btn">¡Lo quiero!</button>
        </div>
      </div>

      <div class="container-buy">
        <div class="img">
          <img src="../../img/horse3.png" alt="" />
        </div>
        <div class="text1">
          <h3>Marinilla</h3>
          <ol>
            <li>Raza: Cuarto de Milla</li>
            <li>Edad: 4 años</li>
            <li>Sexo: Hembra</li>
            <li>Color: Beige</li>
            <li>Altura: 1.65</li>
          </ol>
        </div>
        <div class="text2">
          <h2>$6700</h2>
          <button id="btn">¡Lo quiero!</button>
        </div>
      </div>
    </div>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
