<!DOCTYPE html>
<html id="aa" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/lodge.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <title>Hospedaje y alimentación</title>
  </head>
  <body>
    <header>
      <a href="../../index.html" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <main>
      <blockquote>Hospedaje</blockquote>
      <div class="lodge">
        <div class="info">
          <img src="../../img/vip.png" alt="" />
          <div class="info-text">
            <p>VIP</p>
            <button id="btnn">Adquirir</button>
          </div>
        </div>
        <div class="info">
          <img src="../../img/normal.png" alt="" />
          <div class="info-text">
            <p>Normal</p>
            <button id="btnn">Adquirir</button>
          </div>
        </div>
      </div>

      <blockquote>Alimentación</blockquote>
      <div class="nutrition">
        <div class="nut">
          <h3>Heno de calidad</h3>
          <p>
            El heno de calidad asegura que tu caballo tenga energía y vitalidad
            todo el día
          </p>
          <button id="btnn">Adquirir</button>
        </div>
        <div class="nut">
          <h3>Pasto fresco</h3>
          <p>
            Pasto fresco para una nutrición natural y equilibrada, justo lo que
            tu caballo necesita
          </p>
          <button id="btnn">Adquirir</button>
        </div>
        <div class="nut">
          <h3>Granos</h3>
          <p>
            Proporciona energía extra a tu caballo con nuestros granos de alta
            calidad.
          </p>
          <button id="btnn">Adquirir</button>
        </div>
      </div>
    </main>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
