<!DOCTYPE html>
<html id="sell" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/sellHorse.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <title>Comprar ejemplares</title>
  </head>
  <body>
    <header>
      <a href="../../index.html" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <div class="container-form">
      <div class="info">
        <h1>¡Vende tus Ejemplares con Nosotros!</h1>
        <p>Beneficios de vender con nosotros:</p>
        <ul>
          <li>Amplia tu clientela</li>
          <li>Soporte profesional</li>
          <li>Proceso sencillo</li>
        </ul>
      </div>

      <form class="form">
        <h2>Ingrese los datos</h2>
        <label for="name"></label>
        <input type="text" id="name" / placeholder="Nombre del caballo">

        <label for="breed"></label>
        <input
          type="text"
          id="breed"
          name="breed"
          required
          placeholder="Raza"
        />

        <label for="age"></label>
        <input type="number" id="age" name="age" required placeholder="Edad" />

        <label for="price"></label>
        <input
          type="text"
          id="price"
          name="price"
          required
          placeholder="Precio"
        />

        <label for="description"></label>
        <textarea
          id="description"
          name="description"
          rows="5"
          required
          placeholder="Descripción"
        ></textarea>

        <a class="btn" href="">Publicar Ejemplar</a>
      </form>
    </div>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
