<!DOCTYPE html>
<html id="services" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/servicesSocio.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />

    <title>Billboard</title>
  </head>

  <body>
    <header>
      <a href="#" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <div class="main">
      <div class="row">
        <div class="lodge">
          <h3>Hospedaje y alimentación</h3>
          <img src="../../img/9.png" alt="" />
          <p>
            Nuestro centro ofrece dos niveles de hospedaje de primera clase para
            sus caballos: VIP y Normal, asegurando que cada caballo reciba el
            cuidado y la atención que merece.
          </p>
          <a href="lodge.html">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>

        <div class="training">
          <h3>Entrenamiento</h3>
          <img src="../../img/training.png" alt="" />
          <p>
            Ofrecemos programas de entrenamiento y clases de equitación para
            todas las edades y niveles. Nuestros instructores profesionales se
            enfocan en desarrollar habilidades de equitación seguras y
            efectivas, adaptándose a las necesidades individuales de cada jinete
          </p>
          <a href="training.html">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>

        <div class="vet">
          <h3>Veterinario</h3>
          <img src="../../img/vet.png" alt="" />
          <p>
            En nuestro centro, entendemos la importancia de la salud y el
            bienestar de su caballo. Es por eso que ofrecemos una gama completa
            de servicios veterinarios proporcionados por un equipo de
            profesionales experimentados y apasionados por la salud equina.
          </p>
          <a href="vet.html">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>
      </div>

      <div class="row">
        <div class="buyHorse">
          <h3>Comprar ejemplares</h3>
          <img src="../../img/sell.png" alt="" />
          <p>
            En nuestro centro, ofrecemos una selección cuidadosamente curada de
            ejemplares equinos de alta calidad, diseñados para satisfacer las
            necesidades y preferencias de jinetes de todos los niveles. Ya sea
            que estés buscando un compañero para competir en eventos de alto
            nivel o simplemente para disfrutar de paseos relajantes por el
            campo, tenemos el caballo perfecto para ti.
          </p>
          <a href="buyHorse.html">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>

        <div class="sellHorse">
          <h3>Vender ejemplares</h3>
          <img src="../../img/normal.png" alt="" />
          <p>
            En nuestro centro, ofrecemos a nuestros socios la emocionante
            oportunidad de vender sus ejemplares equinos a través de nuestra
            plataforma. Si eres propietario de un caballo y estás buscando un
            nuevo hogar para él, únete a nuestra comunidad de socios y aprovecha
            nuestra red de conexiones para encontrar al comprador perfecto.
          </p>
          <a href="#">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>

        <div class="ride">
          <h3>Cabalgatas</h3>
          <img src="../../img/rides.png" alt="" />
          <p>
            ¿Estás listo para una aventura emocionante en la naturaleza? Únete a
            nosotros en una de nuestras apasionantes cabalgatas y descubre la
            belleza de los paisajes naturales mientras exploras a lomos de un
            caballo bien entrenado.
          </p>
          <a href="rides.html">
            <img src="../../img/arrowIcon.png" alt="Arrow icon" />
          </a>
        </div>
      </div>
    </div>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
