<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/servicesSocio.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
        rel="stylesheet">

    <title>Billboard</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Club Ecuestre</a>

        <nav class="nav">
            <a href="inicioSocio.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="servicesSocio.html">Servicios</a>
            <a href="billboard.html">Cartelera</a>
        </nav>
    </header>

    <h1 class="anton-regular" id="titleServices">Servicios</h1>

    <div class="gridContainer">
        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Hospedaje y Alimentación</b></p>

                    <p class="gridBody">Te invitamos a que conozcas los tipos de hospedajes que tenemos
                        para ti y tú caballo, así mismo preocuparse por la alimentación de ambos es algo
                        por lo que no te has de preocupar, para más información pulsa el botón de abajo.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Entrenamiento</b></p>
                    <p class="gridBody">Ofrecemos un programa personalizado para cada caballo,
                        enfocándonos en el desarrollo de habilidades específicas, mejora del
                        comportamiento y acondicionamiento físico. Con técnicas modernas y un enfoque amable.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Veterinario</b></p>
                    <p class="gridBody">Ofrecemos atención integral y personalizada para la salud
                        de tu caballo, incluyendo chequeos regulares, tratamientos especializados,
                        emergencias y asesoramiento en nutrición.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Comprar ejemplares</b></p>
                    <p class="gridBody">Te ofrecemos una selección exclusiva de ejemplares de alta calidad.
                        Nuestro equipo de expertos te guiará en cada paso del proceso, asegurando que
                        encuentres el caballo perfecto que se adapte a tus necesidades y objetivos.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Vender ejemplares</b></p>
                    <p class="gridBody">Te ofrecemos una plataforma confiable para vender o alquilar
                        tus ejemplares. Nos encargamos de todo el proceso, desde la evaluación y
                        promoción hasta la gestión de las transacciones, asegurando que encuentres
                        compradores o arrendatarios adecuados.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>


        <div class="gridContainerSmall">
            <div class="image">
                <img src="../../img/ride.jpg" class="imgHorses">
            </div>

            <div class="gridBody">
                <div class="info">
                    <p class="title"><b>Paseos o cabalgatas</b></p>
                    <p class="gridBody">Ofrecemos experiencias únicas a caballo, diseñadas para
                        todos los niveles de habilidad. Explora paisajes impresionantes y disfruta de
                        la naturaleza mientras te relajas y te conectas con tu caballo.
                    </p>
                    <div class="contImg"><a href="#"><img src="../../img/arrowIcon.png" class="arrowImg"></a></div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <nav class="nav">
            <a href="inicioSocio.html">Inicio</a>
            <a href="aboutUs.html">Nosotros</a>
            <a href="servicesSocio.html">Servicios</a>
            <a href="billboard.html">Cartelera</a>
        </nav>

        <div class="credit">
            <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>