<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/training.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />

    <title>Training</title>
  </head>

  <body>
    <header>
      <a href="../../index.html" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <!-- <h1 id="title">Entrenamiento</h1> -->

    <div class="square">
      <div class="squareSon">
        <div class="squareSonSon">
          <div class="divSqBody">
            <p class="squareBody">Lunes 4pm - 6pm</p>
            <p class="squareBody">Martes 4pm - 6pm</p>
          </div>

          <div class="divBtn">
            <button class="btnGetTraining">Adquirir</button>
          </div>
        </div>
      </div>

      <div class="squareSon">
        <div class="squareSonSon">
          <div class="divSqBody">
            <p class="squareBody">Jueves 8am - 10am</p>
            <p class="squareBody">Miercoles 8am - 10am</p>
          </div>

          <div class="divBtn">
            <button class="btnGetTraining">Adquirir</button>
          </div>
        </div>
      </div>

      <div class="squareSon">
        <div class="squareSonSon">
          <div class="divSqBody">
            <p class="squareBody">Lunes de 4pm - 6pm</p>
            <p class="squareBody">Martes de 4pm - 6pm</p>
          </div>

          <div class="divBtn">
            <button class="btnGetTraining">Adquirir</button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
