<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/vet.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <title>Veterinario</title>
  </head>
  <body>
    <header>
      <a href="../login.html" class="logo">Club Ecuestre</a>

      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>
    </header>

    <div class="container-main">
      <div class="container-register">
        <h3>Agendar cita</h3>
        <form class="form">
          <p>Doctor(a)</p>
          <select name="doc" class="doc" id="docSelect">
            <option value="doc1">Dr. Juan Pérez</option>
            <option value="doc2">Dra. Sofia Martins</option>
            <option value="doc3">Dra. Ana Rodríguez</option>
            <option value="doc4">Dr. James Thompson</option>
          </select>

          <label for="calendar">Día</label>
          <input type="date" id="calendar" />

          <label for="timee">Hora</label>
          <input type="time" id="timee" />
        </form>
        <a class="boton" href="#">Agendar</a>
      </div>

      <div class="container-text">
        <h1>
          Bienestar y salud para tus <br />
          <span>Caballos</span>
        </h1>
        <p id="text">
          Aprovecha nuestros servicios veterinarios para darle a tu compañero
          ecuestre la atención que necesita.
        </p>
      </div>
    </div>

    <footer>
      <nav class="nav">
        <a href="inicioSocio.html">Inicio</a>
        <a href="aboutUs.html">Nosotros</a>
        <a href="servicesSocio.html">Servicios</a>
        <a href="billboard.html">Cartelera</a>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
