<!DOCTYPE html>
<html id="gest" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/listado.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <title>Inicio Admin</title>
  </head>

  <body>
    <header>
      <a href="../../index.html" class="logo">Club Ecuestre</a>
      <nav class="nav">
        <a href="inicioAdmin.html">Inicio</a>
        <a href="gestion.html">Gestión</a>
        <a href="reporte3.html">Finanzas</a>
      </nav>
    </header>

    <main>
      <h1 id="h1">Consulta sobre clientes externos</h1>
      <table class="activity-table">
        <thead>
          <tr>
            <th>Cliente externo</th>
            <th>Fecha</th>
            <th>Tipo de servicio</th>
            <th>Detalles del servicio</th>
            <th>Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Empresa A</td>
            <td>24-05-20</td>
            <td>Curso</td>
            <td>Curso introducción a la equitación</td>
            <td>$390</td>
          </tr>
          <tr>
            <td>Empresa B</td>
            <td>26-05-20</td>
            <td>Paseo</td>
            <td>Paseo guiado por monitor</td>
            <td>$310</td>
          </tr>
          <tr>
            <td>Empresa C</td>
            <td>14-06-20</td>
            <td>Cabalgata</td>
            <td>Cabalgata por senderos naturales</td>
            <td>$250</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <a class="btn" href="#">Modificar</a>
    </main>

    <footer>
      <nav class="nav">
        <nav class="nav">
          <a href="inicioAdmin.html">Inicio</a>
          <a href="gestion.html">Gestión</a>
          <a href="reporte3.html">Finanzas</a>
        </nav>
      </nav>

      <div class="credit">
        <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
