<!DOCTYPE html>
<html id="gest" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/gestion.css" />
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Squada+One&display=swap"
    rel="stylesheet">
  <title>Inicio Admin</title>
</head>

<body>
  <header>
    <a href="../../index.html" class="logo">Club Ecuestre</a>
    <nav class="nav">
      <a href="inicioAdmin.html">Inicio</a>
      <a href="gestion.html">Gestión</a>
      <a href="reporte3.html">Finanzas</a>
    </nav>

  </header>


  <div class="main">
    <!-- <h1>Gestión</h1> -->
    <div class="row">
        <div class="ride">
            <p>
              <span>Reporte</span> del uso de establos
            </p>
            <a href="reporte1.html">
              <img src="../../img/arrowIcon.png" alt="Arrow icon" />
            </a>
          </div>

      <div class="ride">
        <p>
          <span>Listado</span> de paseos y cabalgatas
        </p>
        <a href="listado.html">
          <img src="../../img/arrowIcon.png" alt="Arrow icon" />
        </a>
      </div>

      <div class="ride">
        <p>
          <span>Reporte</span> de servicios tomados por socios
        </p>
        <a href="reporte2.html">
          <img src="../../img/arrowIcon.png" alt="Arrow icon" />
        </a>
      </div>
    </div>

    <div class="row">
        <div class="ride">
            <p>
              <span>Consulta</span> sobre clientes externos
            </p>
            <a href="consulta.html">
              <img src="../../img/arrowIcon.png" alt="Arrow icon" />
            </a>
          </div>

      <div class="ride">
        <p>
          <span>Reporte</span> financiero mensual
        </p>
        <a href="reporte3.html">
          <img src="../../img/arrowIcon.png" alt="Arrow icon" />
        </a>
      </div>

      <div class="ride">
        <p>
          <span>Cartelera</span> sobre servicios
        </p>
        <a href="cartelera.html">
          <img src="../../img/arrowIcon.png" alt="Arrow icon" />
        </a>
      </div>
    </div>
  </div>
  

  </div>

  <footer>
    <nav class="nav">
      <nav class="nav">
        <a href="inicioAdmin.html">Inicio</a>
        <a href="gestion.html">Gestión</a>
        <a href="reporte3.html">Finanzas</a>
      </nav>
    </nav>

    <div class="credit">
      <p>&copy; 2024 Club Ecuestre. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>

</html>